body {
    position: relative;
    font-size: 14px;
    font-family: "Montserrat", "Helvetica Neue", Arial, sans-serif;
}
.bg-img{
    background-size: cover;
    height: 600px;
    background-image: linear-gradient(rgba(0, 0, 0,0.4),rgba(0, 0, 0,0.4)), url('../image/nen.jpg');
    transform: translate3d(0px, 0px, 0px);
    background-position: center center;
}
#navpage{
    width: 100vw;
    padding: 20px;
    text-transform: uppercase;
}
#navpage.scrolled{
    background:rgb(89, 238, 20);
    transition:background-color 0.8s ;
}

.navbar-nav a{
    margin-right: 20px;
}
.avatar{
    text-align: center;
    padding-top: 120px;
}
.section {
    padding: 70px 0;
}
.mxh{
    width: 55px;
    height: 55px;
    padding-top: 12px;
    background-color: white;
}
.mxh:hover{
    transition: color 0.3s;
}
.mxh-fb:hover{
    color: #3b5998;
}
.mxh-tw:hover{
    color: #00aced;
}
.mxh-gg:hover{
    color: #dd4b39;
}
.mxh-is:hover{
    color: #dd4b39;
}
.progress .progress-bar{
    -webkit-transition: all ease 0.5s;
    transition: all ease 0.5s;
    width: 0;
}
ul.timeline-1 ,ul.timeline-2 {
    list-style-type: none;
    position: relative;
}
ul.timeline-1:before , ul.timeline-2:before {
    content: ' ';
    background: darkblue;
    display: inline-block;
    position: absolute;
    left: 29px;
    width: 2px;
    height: 100%;
    z-index: 400;

}
ul.timeline-1 > li , ul.timeline-2 > li {
    margin: 20px 0;
    padding-left: 40px;
    line-height: 25px;
    font-size: medium;
}
ul.timeline-1 > li > p , ul.timeline-2 > li > p {
    margin-top: 20px;
    margin-bottom: 40px;
}
ul.timeline-1 > li:before {
    content: ' ';
    background: white;
    display: inline-block;
    position: absolute;
    border-radius: 50%;
    border: 3px solid #22c0e8;
    left: 20px;
    width: 20px;
    height: 20px;
    z-index: 400;
}
ul.timeline-2 > li:before {
    content: ' ';
    background: white;
    display: inline-block;
    position: absolute;
    border: 3px solid red;
    left: 20px;
    width: 20px;
    height: 20px;
    z-index: 400;
}
ul.timeline-2 > li > h5 {
    color:red;
}
.fabout{
    background-image: linear-gradient(to right,rgb(230, 66, 66) ,rgb(241, 131, 227));
}
.formct{
    background-image: linear-gradient(to right,rgb(230, 66, 66) ,rgb(241, 131, 227));
}

